html body {
  background-image: url("./MEDIA/login.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  height: auto;
}

.loginbox {
  display: flex;
  flex-direction: column;
  position: absolute;
  align-items: center;
  top: 50%;
  transform: translateY(-50%);
  width: 500px;
  height: 500px;
  background-color: black;
  left: 65%;
}
.loginbox img {
  width: 75px;
  height: 100px;
}
.logintt {
  font-size: 50px;
  color: white;
  font-family: abc;
  position: relative;
  top: 10px;
}

.note {
  position: relative;
  top: 400px;
  left: 100px;
  line-height: 40px;
  letter-spacing: 0.5px;
  width: 1000px;
  height: auto;
  font-size: 38px;
  color: white;
  font-family: abc;
}
#userNameInput {
  width: 300px;
  height: 50px;
  background-color: rgb(250, 181, 219);
  border-radius: 10px;
  border: none;
  border-radius: 20px;
  position: relative;
  top: 50px;
  font-family: SFre;
  text-indent: 50px;
}
#passwordInput {
  width: 300px;
  height: 50px;
  background-color: rgb(250, 181, 219);
  border-radius: 10px;
  border: none;
  border-radius: 20px;
  position: relative;
  text-indent: 50px;
  top: 100px;
  font-family: SFre;
}
#passwordInput::placeholder {
  position: relative;
  left: 20px;
}
#userNameInput::placeholder {
  position: relative;
  left: 20px;
}
.btn--get {
  position: relative;
  top: 150px;
  width: 300px;
  height: 50px;
  background-color: rgb(255, 61, 168);
  border-radius: 10px;
  border: none;
  border-radius: 20px;
  color: white;
  font-family: abc;
}
.btn--get:hover {
  background-color: rgb(209, 24, 126);
}
.donthave {
  display: flex;
  flex-direction: row;
  color: white;
  font-size: 20px;
  font-family: SFre;
  position: relative;
  top: 200px;
}
.donthave a {
  color: rgb(255, 61, 168);
}
.bgcclip {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  overflow: hidden;
}
.bgcclip video {
  position: absolute;
  min-height: 100%;
  min-width: 100%;
  width: auto;
  height: auto;
  display: none;
}
