html body {
  background-color: #ececec;
}
.nav {
  position: fixed;
  background-color: #e30019;
  width: 100%;
  color: white;
  height: 70px;
}
.nav--content {
  width: 80%;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.nav--content__logo {
  width: 60px;
  height: 70px;
  overflow: hidden;
}
.nav--content__logo img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.nav--content__togglemenu {
  height: 42px;
  width: 110px;
  align-items: center;
  background-color: #be1529;
  border-radius: 4px;
  color: #ffffff;
  display: flex;
  font-size: 13px;
  z-index: 999999;
}
.nav--content__input::placeholder {
  text-align: left;
  padding-left: 20px;
  display: inline-block;
}
.nav--content__togglemenu ion-icon {
  font-size: 25px;
}
.nav--content__input {
  width: 500px;
  height: 40px;
  background-color: white;
  border-radius: 10px;
  border: none;
}
.nav--ctn__right {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.nav--ctn__right li {
  display: flex;
  justify-content: space-around;
  padding-left: 10px;
  padding-right: 10px;
  font-family: abc;
  font-size: 13px;
  cursor: pointer;
}
.nav--ctn__right li ion-icon {
  font-size: 25px;
  padding-left: 5px;
  padding-right: 5px;
}
.nav--ctn {
  width: 100%;
  height: auto;
  background-color: white;
  position: absolute;
  top: 75px;
}
.lower--nav__ctn {
  width: 70%;
  height: 40px;
  display: flex;
  justify-content: space-between;
  text-align: center;
  align-items: center;
  margin: 0 auto;
  font-size: 13px;
  bottom: 20px;
}
.lower--nav__ctn a {
  color: black;
}
.lower--nav__ctn a :hover {
  color: red;
}
.lower--nav__ctn ion-icon {
  font-size: 20px;
}
