.nav--banner {
}
.nav--banner__content {
  position: fixed;
  background-color: red;
  width: 100%;
  height: (auto + 10px);
}
.nav--content {
}
.nav--content__logo {
}
.nav--content__togglemenu {
}
.content--main {
}
