.nav {
  position: fixed;
  background-color: red;
  width: 100%;
  color: white;
  height: 70px;
}
.nav--content {
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  align-items: center;
}
.nav--content__logo {
  width: 20px;
  height: 60px;
  overflow: hidden;
}
.nav--content__logo img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.nav--content__togglemenu {
}
.content--main {
}
